#!/bin/bash

# obviously, you have to fill in the values
aws ssm put-parameter --type String --name "CALENDAR_ID" --value "" --overwrite
aws ssm put-parameter --type String --name "SLACK_WEBHOOK_URL" --value "" --overwrite
aws ssm put-parameter --type String --name "GIPHY_APIKEY" --value "" --overwrite
aws ssm put-parameter --type String --name "SLACK_SIGNING_SECRET" --value "" --overwrite
aws ssm put-parameter --type String --name "GOOGLE_APPLICATION_CREDENTIALS_EMAIL" --value "" --overwrite
aws ssm put-parameter --type String --name "GOOGLE_APPLICATION_CREDENTIALS_KEY" --value "" --overwrite
aws ssm put-parameter --type String --name "GOOGLE_APPLICATION_CREDENTIALS_KEY_ID" --value "" --overwrite

# while this issue remains open, you cannot use the encrypted storage on AWS
# https://github.com/aws/aws-cdk/issues/6819
# aws ssm put-parameter --type String --name "CALENDAR_ID" --value "" --overwrite
# aws ssm put-parameter --type String --name "GOOGLE_APPLICATION_CREDENTIALS_KEY_ID" --value "" --overwrite
# aws ssm put-parameter --type SecureString --name "SLACK_WEBHOOK_URL" --value "" --overwrite
# aws ssm put-parameter --type SecureString --name "GIPHY_APIKEY" --value "" --overwrite
# aws ssm put-parameter --type SecureString --name "SLACK_SIGNING_SECRET" --value "" --overwrite
# aws ssm put-parameter --type SecureString --name "GOOGLE_APPLICATION_CREDENTIALS_EMAIL" --value "" --overwrite
# aws ssm put-parameter --type SecureString --name "GOOGLE_APPLICATION_CREDENTIALS_KEY" --value "" --overwrite
